@media only screen and (max-width: 992px){
        .navbar ul {
        background-color: black;
        width: 100%;
        height: calc(100vh - 55px);
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;

    }

    .navbar-list li {
        margin: 60px;
    
    }
    .navbar ul li .link{
        font-size: 18px;
    }

    .navbar i {
        display: block;
        
    
    }

    #toggle-menu:checked+.navbar-list {
        transform: translateX(0%);
        transition: all 0.4s ease-in;
    }
    .navbar i1:hover{
    padding: 0%;
    background-color: black;
    }
    /*main-about*/
    #about{
        height: auto;
        
    }
    #about h2{
        margin-top: 50px;
    }
    .container_box{
        flex-wrap: wrap;
        
    }
    /*main-card*/
    #card h2{
        margin-top: 20px;
    }
    
    /*main-contactos*/
    #contactos{
        flex-direction: column-reverse;
        justify-content: stretch;
        height: 600px;
    }
    #contactos h2{
        font-size: 40px;
        
    }
    #contactos p{
        text-align: center;
    }

}
@media only screen and (max-width: 576px) and (min-width: 360px){
      
    /*main-hero*/
   
    .hero_slider{
        text-align: center;
        margin: 10%;
    }
    .hero_slider span{
        margin: 10px;
        
    }
        /*main-about*/
    #about h2{
        margin: 10%;
        margin-top: 20%;
        
        padding: 0%;
    }
        /*main-card*/
    #card{
        height: 170vh;
    }
    #card h2{
        margin: 10%;
        margin-top: 20%;
        margin-bottom: 10px;
        text-align: center;
    }

    .imagenes{
        
        flex-direction: column;
    }
    .card-img{
        width: 100%;
        height: 100px
    }
    .card-img:hover{
        transition: 0.6s ease;
        transform: scale(1.2);
    }
    /*main-contactos*/
    #contactos{
        height: 130vh;
        
    }
    #contactos h1{
        text-align: center;
        margin-top: 20%;
    
    }
    #contactos p{
        text-align: center;
        margin: 10%;
        padding: 0%;
    }
    .contactos-links{
       margin: 10%; 
    
      
    }
    .maps{
        width: 80%;
        height: 300px;
    }
    
    /*footer*/

    footer{
        text-align: center;
        height: 300px;
        
        
        
    }
    .footer-links{
        flex-direction: column;
        gap: 4gi0px;
        margin-top: 50px;
    }
    footer p{
        margin: 10%;
    }

}
